*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    text-decoration: none;
}

body {
    background-image: url(img/background/camera.jpg);
    background-size: cover;
	background-position: center;
 	background-repeat: no-repeat, repeat;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	max-width: 1170px;
	margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*header*/
.header{
	background-color: rgb(204, 53, 53);
	padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
    font-family: 'Oswald';
	padding:10px 0;
	color: white;
	text-transform: capitalize;
	transition: all 0.5s ease;
}
.header .nav ul li a:hover{
	color: #b2b2b2;
}
.header #nav-check{
	position: absolute;
	opacity:0;
	pointer-events: none;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: rgb(204, 53, 53);
	border-radius: 4px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 20px;
	background-color:  rgb(204, 53, 53);
	position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: white;
   left:0;
}
.nav-toggler span::before{
	top: -6px;
}
.nav-toggler span::after{
	top: 6px;
}
@media(max-width: 991px){
    .nav-toggler{
    	display: flex;
    }
    .header .nav{
    	position: absolute;
    	left:0;
    	top:100%;
    	width: 100%;
    	background-color: rgb(204, 53, 53);
    	border-top: 1px solid rgba(255,255,255,0.2);
    	opacity:0;
    	visibility: hidden;
    }
    .header .nav ul li{
    	display: grid;
        place-content: center;
    	margin:0;
    }
    .header #nav-check:checked ~ .nav{
       opacity: 1;
       visibility: visible;
    }
    .header #nav-check:focus ~ .nav-toggler{
    	box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked ~ .nav-toggler span{
    	background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before{
    	top:0;
    	transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after{
    	top:0;
    	transform: rotate(-45deg);
    }
}

#big_about{
    display: grid;
    place-content: center;
}

#bhp_text{
    font-size: 36px;
    padding: 24px;
    padding-top: 40px;
    font-family: 'Oswald';
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}


#about_bhp{
    list-style: none;
    color: white;
    font-family: 'Oswald';
    line-height: 70px;
    font-size: 20px;
    padding: 65px;
    display: grid;
    place-content: center;
}

#about_szkolenia a{
    background-color: rgb(204, 53, 53);
    text-decoration: none;
    font-family: 'Oswald';
    color: white;
    font-size: 36px;
    padding: 30px;
    display: grid;
    place-content: center;
    transition: all 0.3s ease 0s;
}

#about_szkolenia a:hover{
    color: #b2b2b2;
    font-size: 48px;
}

@media(max-width: 900px){
    #bhp_text{
        font-size: 24px;
        padding-top: 40px;
    }
    
    #about_bhp{
        font-size: 16px;
    }
    
    #about_szkolenia a{
        font-size: 20px;
    }
    
    #about_szkolenia a:hover{
        font-size: 30px;
    }
}


footer{
    background-color: #3d3d3d;
}

#big_footer_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#left_footer_container{
    width: auto;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    color: white;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 30px;
}

#left_footer_container ul{
    list-style: none;
    font-family: 'Oswald';
    font-size: 15px;
}

#left_footer_container a{
    text-decoration: none;
    color: white;
    font-family: 'Oswald';
    transition: all 0.5s ease 0s;
}

#left_footer_container a:hover{
    color:  #b2b2b2;
}

#nalewek_ig{
    color: white; 
    transition: color 0.3s ease 0s; 
}

#nalewek_ig:hover{
    color: #b2b2b2;
}

#center_footer_container{
    display: grid;
    place-content: center;
}

#center_footer_container img{
    height: 200px;
    width: 200px;

}

#right_footer_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}

#ul_footer_container{
    list-style: none;
    color: white;
    font-family: 'Oswald';
}

#ul_footer_container li a{
    text-decoration: none;
    color: white;
    line-height: 25px;
    transition: color 0.3s ease 0s; 
}

#ul_footer_container li a:hover{
    color: #b2b2b2;
}

#down_footer_container{
    display: grid;
    place-content: center;
    font-size: 24px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Oswald';
}

@media(max-width: 900px){
    
    #left_footer_container{
        width: 130px;
    }
    
    #left_footer_container ul li{
        font-size: 10px;
    }
    
    #center_footer_container img{
        width: 120px;
        height: 120px;
    }
    
    #ul_footer_container li a{
        font-size: 10px;
    }
    
    #down_footer_container{
        font-size: 10px;
    }
}


#social_solid{
    z-index: 1000000;
}

#fb_solid{
    position: fixed;
    top: 305px;
    left: 0px;
    background-color: #3b5998;
    border-radius: 10%;
}

#fb_solid img{
    width: 60px;
    height: 60px;
    background-color: #3b5998;
    border-radius: 10%;
}

#ig_solid{
    position: fixed;
    top: 369px;
    left: 0px;
    background-color: white;
    border-radius: 26%;
    width: 60px;
    height: 60px;
}

#ig_solid img{
    width: 60px;
    height: 60px;
}

@media (max-width: 900px) {
    #fb_solid img{
        width: 40px;
        height: 40px;
    }
    
    #ig_solid{
        height: 40px;
        width: 40px;
        top: 350px;
    }    
    
    #ig_solid img{
        width: 40px;
        height: 40px;
    }
}